.DS_Store
.idea/

frontend/.DS_Store
frontend/node_modules
frontend/idea
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/test/unit/coverage/

backend/.DS_Store
backend/node_modules
backend/idea
backend/dist/
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/test/unit/coverage/